$black: rgb(0, 0, 0);

$black-a05: rgba(0, 0, 0, 0.05);
$black-a10: rgba(0, 0, 0, 0.1);
$black-a20: rgba(0, 0, 0, 0.2);
$black-a40: rgba(0, 0, 0, 0.4);
$black-a60: rgba(0, 0, 0, 0.6);
$white: rgb(255, 255, 255);
$white-a50: rgba(235, 235, 240, 0.5);
$white-a80: rgba(235, 235, 240, 0.8);
$blue: rgb(55, 120, 230);
$blue-a30: rgba(150, 200, 250, 0.3);
$green: rgb(0, 165, 0);
$red: rgb(250, 55, 60);
$background: rgb(240, 240, 245);

$navbar-height: 56px;
