$dark-blue: rgb(59, 89, 152);
$blue-gray: rgb(139, 157, 195);
$blue: rgb(53, 120, 229);
$gray-transparent: rgba(150, 150, 150, 0.3);
$light-gray: rgb(237, 238, 241);
$gray: rgb(207, 208, 211);
$dark-gray: rgb(147, 150, 151);
$hover-gray: rgb(220, 221, 224);
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$green: rgb(0, 164, 0);
$red: rgb(250, 56, 62);

$navbar-height: 60px;
