@use './variables';

.comment {
	display: flex;
	flex-direction: row;
	margin: 4px 0;

	img {
		width: 32px;
		height: 32px;
	}
}

.comment:hover .options_toggle {
	visibility: visible;
}

.body {
	display: flex;
	flex-direction: column;
}
.upper {
	display: flex;
	flex-direction: row;
}

.contents {
	display: flex;
	flex-direction: column;
	width: fit-content;
	background-color: variables.$background;
	padding: 8px 12px;
	border-radius: 16px;

	a {
		font-weight: 600;
		font-size: 0.8rem;
		text-decoration: none;
	}

	p {
		line-height: 1.1rem;
		font-size: 0.8rem;
	}
}

.controls {
	width: fit-content;
	margin: 2px 8px;
	display: flex;
	flex-direction: row;
	font-size: 0.7rem;
	color: variables.$black-a60;

	.like_btn,
	.reply_btn {
		font-weight: 600;
		margin-right: 12px;
		cursor: pointer;
	}

	.like_btn:hover,
	.reply_btn:hover {
		text-decoration: underline;
	}

	a {
		color: variables.$black-a60;
	}
}

.options_toggle {
	position: relative;
	visibility: hidden;
	margin: auto 4px;
	display: block;
	height: fit-content;
	padding: 4px;
	border-radius: 50%;
	cursor: pointer;

	svg {
		display: block;
		width: 20px;
		height: 20px;
		fill: variables.$black-a60;
	}
}

.options_toggle:hover {
	background-color: variables.$black-a05;
}

.options_menu {
	position: absolute;
	top: 40px;
	right: -120px;
	padding: 8px;
	width: 260px;
	border-radius: 8px;
	background-color: variables.$white;
	box-shadow: 0 4px 16px 0 variables.$black-a20;
	visibility: visible;
	z-index: 5;

	.edit_btn,
	.delete_btn {
		padding: 8px;
		border-radius: 8px;
		cursor: pointer;
	}

	.edit_btn:hover,
	.delete_btn:hover {
		background-color: variables.$black-a05;
	}
}

.options_menu:hover .options_toggle {
	visibility: hidden !important;
}
