@use './variables';

.comment {
	display: flex;
	flex-direction: row;
	margin-bottom: 4px;

	&:hover .options_toggle {
		visibility: visible;
	}

	a {
		height: fit-content;
		border-radius: 50%;
		margin-right: 8px;
	}

	img {
		width: 32px;
		height: 32px;
	}

	.body {
		display: flex;
		flex-direction: column;

		a {
			border-radius: 0;
		}
	}

	.upper {
		display: flex;
		flex-direction: row;
	}

	.contents {
		display: flex;
		flex-direction: column;
		width: fit-content;
		background-color: variables.$white-a80;
		padding: 8px 12px;
		border-radius: 16px;
		position: relative;
		max-width: 660px;

		a {
			font-weight: 600;
			font-size: 0.8rem;
		}

		.liked {
			position: absolute;
			bottom: 0;
			right: -8px;
			cursor: pointer;

			span {
				width: 16px;
				height: 16px;
				display: block;
				background-size: auto;
				background-repeat: no-repeat;
				background-image: url('../../public/single_icons/like_icon.png');
			}
		}
	}

	.comment_text {
		margin-top: 2px;
		line-height: 1.1rem;
		font-size: 0.8rem;
	}

	.controls {
		width: fit-content;
		margin: 4px 8px;
		display: flex;
		flex-direction: row;
		font-size: 0.7rem;
		color: variables.$black-a60;
	}

	.like_btn {
		font-weight: 600;
		margin-right: 12px;
		cursor: pointer;

		&.liked {
			color: variables.$blue;
		}

		&:hover {
			text-decoration: underline;
		}
	}

	.time {
		color: variables.$black-a60;
	}

	.right {
		height: fit-content;
		position: relative;
		border-radius: 50%;
		margin: auto 4px;
	}

	.options_toggle {
		visibility: hidden;
		display: block;
		height: fit-content;
		padding: 4px;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			background-color: variables.$black-a05;
		}

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: variables.$black-a60;
		}
	}

	.options_menu {
		position: absolute;
		top: 32px;
		left: -100px;
		padding: 8px;
		width: 240px;
		border-radius: 8px;
		background-color: variables.$white;
		box-shadow: 0 4px 16px 0 variables.$black-a20;
		z-index: 5;
	}

	.edit_btn,
	.delete_btn {
		padding: 8px;
		border-radius: 8px;
		cursor: pointer;

		&:hover {
			background-color: variables.$black-a05;
		}
	}
}
