@use '../styles/variables';

.contacts {
	flex: 1;
	margin-top: 8px;
	padding: 12px;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	height: fit-content;

	hr {
		width: 100%;
	}
}

.friend_requests {
	padding: 16px;
	background-color: variables.$white;
	border-radius: 8px;
	box-shadow: 0 1px 2px 0 variables.$black-a20;
	margin-bottom: 8px;

	.top {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-bottom: 8px;

		img {
			width: 20px;
			height: 20px;
			margin-right: 8px;
		}
	}
}

.friend_list {
	border-radius: 8px;
	margin-bottom: 8px;

	.top {
		color: variables.$black-a60;
		font-weight: 600;
		margin-bottom: 8px;
	}
}

.group_conversations {
	border-radius: 8px;
	margin: 8px 0;

	.top {
		color: variables.$black-a60;
		font-weight: 600;
		margin-bottom: 8px;
	}
}

// .new_group {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	padding: 8px;
// 	border-radius: 8px;
// 	cursor: pointer;

// 	.plus_btn {
// 		padding: 8px;
// 		margin-right: 12px;
// 		background-color: variables.$black-a05;
// 		border-radius: 50%;

// 		span {
// 			width: 20px;
// 			height: 20px;
// 			display: block;
// 			background-size: auto;
// 			background-repeat: no-repeat;
// 			background-image: url('../../public/multi_icons/icons_4.png');
// 			background-position: -42px -272px;
// 		}
// 	}
// }

// .new_group:hover {
// 	background-color: variables.$black-a05;
// }

// .group {
// 	display: flex;
// 	flex-direction: row;
// 	align-items: center;
// 	border-radius: 8px;
// 	padding: 8px;
// 	cursor: pointer;

// 	span {
// 		display: block;
// 		position: relative;
// 		height: 36px;
// 		width: 36px;
// 		margin-right: 12px;

// 		img {
// 			position: absolute;
// 			width: 24px;
// 			height: 24px;
// 		}

// 		img:first-child {
// 			top: 0;
// 			right: 0;
// 		}

// 		img:nth-child(2) {
// 			bottom: 0;
// 			left: 0;
// 		}
// 	}
// }

// .group:hover {
// 	background-color: variables.$black-a05;

// 	span {
// 		filter: brightness(95%);
// 	}
// }
