@use '../styles/variables';

.contacts {
	flex: 1;
	padding: 8px;
	margin: 8px 0;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: calc(variables.$navbar-height + 8px);
	height: calc(100vh - (variables.$navbar-height + 16px));
	overflow-y: auto;

	hr {
		width: 100%;
	}

	.friend_requests {
		padding: 16px;
		background-color: variables.$white;
		border-radius: 8px;
		box-shadow: 0 1px 2px 0 variables.$black-a20;
		margin-bottom: 8px;

		.top {
			display: flex;
			flex-direction: row;
			align-items: center;
			margin-bottom: 8px;

			img {
				width: 20px;
				height: 20px;
				margin-right: 8px;
			}
		}
	}

	.friend_list {
		border-radius: 8px;
		margin-bottom: 8px;

		.top {
			color: variables.$black-a60;
			font-weight: 600;
			margin-bottom: 8px;
		}
	}
}

.chat_list_container {
	position: fixed;
	bottom: 40px;
	right: 12px;
	width: 320px;
	height: fit-content;
	display: flex;
	flex-direction: column;
	background-color: variables.$white;
	border-radius: 8px;
	box-shadow: 0 4px 12px 0 variables.$black-a20;

	hr {
		margin-top: 0;
	}

	.open_chat_list {
		display: flex;
		flex-direction: row;
		overflow-x: scroll;
		scrollbar-color: variables.$black-a20 variables.$white;
	}

	.chat_list_item {
		display: flex;
		flex-direction: row;
		padding: 4px;
		margin-top: 4px;
		margin-left: 4px;
		border-radius: 4px;
		background-color: variables.$blue-a30;
		color: variables.$blue;
		cursor: pointer;

		&:nth-last-child(2) {
			margin-right: 8px;
		}
	}

	.isActiveChat {
		background-color: variables.$blue;
		color: variables.$white;
	}

	.close_btn {
		margin-left: 8px;
		padding: 4px;
		background-color: variables.$white;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			background-color: variables.$red;
		}

		span {
			width: 8px;
			height: 8px;
			display: block;
			background-size: auto;
			background-repeat: no-repeat;
			background-image: url('../../public/multi_icons/icons_6.png');
			background-position: -111px -73px;
		}
	}

	.close_chat_window {
		margin-top: 4px;
		margin-left: 4px;
		margin-right: 4px;
		margin-left: auto;
		padding: 1px;
		border: 1px solid variables.$red;
		background-color: variables.$red;
		border-radius: 50%;
		cursor: pointer;

		&:hover {
			filter: brightness(125%);
			border-color: variables.$black;
			box-shadow: 0 0 2px 1px variables.$black-a60;
		}

		span {
			width: 20px;
			height: 20px;
			transform: scale(0.75);
			display: block;
			background-size: auto;
			background-repeat: no-repeat;
			background-image: url('../../public/multi_icons/icons_6.png');
			background-position: -105px -67px;
		}
	}

	.container {
		display: flex;
		flex-direction: row;
	}

	@media only screen and (max-width: 760px) {
		display: none;
	}
}
