@use './variables';

.edit_comment {
	display: flex;
	flex-direction: row;
	margin-bottom: 8px;

	form {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex: 1;

		textarea {
			flex: 1;
			border: none;
			resize: none;
			padding: 8px 12px;
			height: 32px;
			border-radius: 24px;
			background-color: variables.$background;
			outline: none;
			white-space: nowrap;
			word-break: keep-all;
			overflow: hidden;
		}
	}

	.edit_controls {
		button:first-child {
			background-color: variables.$white-a80;
		}

		button {
			margin-left: 12px;
			padding: 6px 12px;
		}
	}

	img {
		width: 32px;
		height: 32px;
	}
}
