@use '../styles/variables';

.friend {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 8px;
	padding: 8px;
	cursor: pointer;

	&:hover {
		background-color: variables.$black-a05;
	}

	.picture {
		position: relative;
	}

	.contents {
		margin: 0 8px;
	}

	.new_message {
		position: absolute;
		top: 0;
		right: 0;
		padding: 4px;
		color: variables.$white;
		background-color: variables.$red;
		border-radius: 50%;
		border: 1px solid variables.$black-a40;
		font-weight: 600;
		text-align: center;
	}

	img {
		width: 36px;
		height: 36px;
	}

	.right {
		margin-left: auto;
		position: relative;
	}

	.options_toggle {
		display: block;
		height: fit-content;
		padding: 4px;
		border-radius: 50%;
		cursor: pointer;

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: variables.$black-a60;
		}
	}

	.options_toggle:hover {
		background-color: variables.$black-a05;
	}

	.options_menu {
		position: absolute;
		top: 32px;
		right: 0;
		padding: 8px;
		width: 200px;
		border-radius: 8px;
		background-color: variables.$white;
		box-shadow: 0 4px 16px 0 variables.$black-a20;
		z-index: 5;
	}

	.remove_btn {
		padding: 8px;
		border-radius: 8px;
		cursor: pointer;

		&:hover {
			background-color: variables.$black-a05;
		}
	}
}
