@use '../styles/variables';

.navbar {
	height: variables.$navbar-height;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: variables.$white;
	z-index: 20;
	box-shadow: 0 0 4px 1px variables.$black-a10;
}
