@use '../styles/variables';

.navbar {
	height: variables.$navbar-height;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: variables.$white;
	box-shadow: 0 0 4px 1px variables.$black-a10;
	z-index: 20;

	.search_odinbook,
	.search_messenger,
	.menu_search_odinbook {
		label {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 40px;
			padding: 0 12px;
			background-color: variables.$background;
			border-radius: 24px;
		}

		input {
			width: 100%;
			height: 100%;
			padding: 8px;
			border: none;
			outline: none;
			background-color: transparent;
			color: variables.$black-a60;
			font-size: 0.9rem;
		}
	}

	.search_messenger {
		margin: 0 16px;
		margin-bottom: 8px;
	}

	.menu_search_odinbook {
		margin-bottom: 16px;
	}

	.left {
		height: variables.$navbar-height;
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		z-index: 30;
		margin-left: 4px;

		.logo {
			width: 40px;
			height: 40px;
			margin-right: 12px;

			.logo_f {
				fill: variables.$white;
			}
		}

		a {
			margin-left: 12px;
		}
	}

	.center {
		height: variables.$navbar-height;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;

		ul {
			height: variables.$navbar-height;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			a {
				position: relative;
				display: block;
				padding: 10px 48px;
				margin: 0 8px;
				border-radius: 8px;
				cursor: pointer;

				.svg1 {
					display: block;
					fill: variables.$black-a60;
				}

				.svg2 {
					display: none;
					fill: variables.$blue;
				}
			}

			a:hover {
				background-color: variables.$black-a05;
			}

			a.isActive {
				.svg1 {
					display: none;
				}

				.svg2 {
					display: block;
				}
			}

			.li {
				margin-top: 4px;
			}

			a :after {
				content: ' ';
				position: absolute;
				left: 0;
				right: 0;
				top: 48px;
				height: 4px;
				background-color: transparent;
			}

			a.isActive :after {
				height: 0;
				border-bottom: 4px solid variables.$blue;
			}

			a.isActive:hover {
				background-color: unset;
			}
		}
	}

	.right {
		height: variables.$navbar-height;
		position: fixed;
		top: 0;
		right: 0;
		z-index: 30;
		direction: rtl;

		ul {
			height: variables.$navbar-height;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin-right: 8px;

			li {
				margin-right: 8px;
				border: none;
				cursor: pointer;

				.icon {
					display: block;
					padding: 10px;
					background-color: variables.$black-a10;
					border-radius: 50%;

					svg {
						display: block;
						margin: auto;
					}
				}

				.icon:hover {
					background-color: variables.$black-a20;
				}
			}

			.me_link {
				display: flex;
				flex-direction: row;
				align-items: center;
				padding: 6px 8px;
				border-radius: 24px;
				background-color: variables.$white;
				text-decoration: none;

				h4 {
					font-weight: 600;
					border: none;
					margin-right: 8px;
				}

				img {
					width: 28px;
					height: 28px;
				}
			}

			.me_link:hover {
				filter: brightness(95%);
			}

			.find_friends_link {
				text-decoration: none;

				h5 {
					font-weight: 600;
					padding: 12px 16px;
					border: none;
					border-radius: 24px;
					background-color: variables.$black-a10;
				}

				h5:hover {
					background-color: variables.$black-a20;
				}
			}
		}
	}
}

.menu_container {
	min-width: 360px;
	position: absolute;
	top: variables.$navbar-height;
	right: 16px;
	background-color: variables.$white;
	box-shadow: 0 4px 16px 0 variables.$black-a20;
	border-radius: 8px;
	direction: ltr;
	z-index: 30;

	a {
		padding: 8px;
		display: flex;
		flex-direction: row;
		align-items: center;
		text-decoration: none;
		border-radius: 8px;
	}

	a:hover {
		background-color: variables.$black-a05;
	}
}

.menu_account {
	display: flex;
	flex-direction: column;
	padding: 8px;

	.icon {
		padding: 8px;
		margin-right: 12px;
		background-color: variables.$black-a10;
		border-radius: 50%;

		span {
			width: 20px;
			height: 20px;
			display: block;
			background-size: auto;
			background-repeat: no-repeat;
		}
	}

	.feedback_link {
		span {
			background-image: url('../../public/multi_icons/icons_1.png');
			background-position: 0px -25px;
		}
	}

	.settings_privacy_link {
		span {
			background-image: url('../../public/multi_icons/icons_4.png');
			background-position: 0px -314px;
		}
	}

	.help_support_link {
		span {
			background-image: url('../../public/multi_icons/icons_3.png');
			background-position: 0px -189px;
		}
	}

	.display_accesibility_link {
		span {
			background-image: url('../../public/multi_icons/icons_2.png');
			background-position: 0px -63px;
		}
	}

	.log_out_btn {
		span {
			background-image: url('../../public/multi_icons/icons_5.png');
			background-position: 0px -46px;
		}
	}

	hr {
		margin: 8px;
		height: 1px;
		border: none;
		background-color: variables.$black-a20;
	}

	.arrows {
		width: 24px;
		height: 24px;
		display: inline-block;
		background-size: auto;
		background-repeat: no-repeat;
		background-image: url('../../public/multi_icons/icons_6.png');
		background-position: -83px -13px;
		margin-left: auto;
	}

	.me_link {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;

		img {
			width: 56px;
			height: 56px;
		}

		span {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			h3 {
				margin: 4px 0;
				font-weight: 600;
			}

			h5 {
				margin: 4px 0;
				color: variables.$black-a40;
			}
		}
	}
}

.menu_notifications {
	display: flex;
	flex-direction: column;
	padding: 8px;

	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 8px;

		h2 {
			font-weight: 600;
		}

		.options_toggle {
			position: relative;
			display: block;
			height: fit-content;
			padding: 4px;
			border-radius: 50%;
			cursor: pointer;

			svg {
				display: block;
				width: 20px;
				height: 20px;
				fill: variables.$black-a60;
			}
		}

		.options_toggle:hover {
			background-color: variables.$black-a05;
		}
	}

	.controls {
		display: flex;
		flex-direction: row;
		margin: 8px;

		> div {
			background-color: variables.$black-a10;
			font-size: 0.9rem;
			border-radius: 24px;
			margin-right: 8px;
			padding: 12px;
		}

		> div:hover {
			background-color: variables.$black-a20;
			filter: brightness(90%);
		}
	}

	.notification_list {
		margin: 8px;

		li {
			border: 1px solid red;
		}
	}
}

.menu_messenger {
	display: flex;
	flex-direction: column;

	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		margin: 8px;

		h2 {
			font-weight: 600;
		}

		.options_toggle {
			position: relative;
			display: block;
			height: fit-content;
			padding: 4px;
			border-radius: 50%;
			cursor: pointer;

			svg {
				display: block;
				width: 20px;
				height: 20px;
				fill: variables.$black-a60;
			}
		}

		.options_toggle:hover {
			background-color: variables.$black-a05;
		}
	}

	.message_list {
		margin: 0 16px;

		li {
			border: 1px solid red;
		}
	}

	hr {
		width: 100%;
		height: 1px;
		border: none;
		background-color: variables.$black-a20;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		color: variables.$blue;
		text-align: center;
		margin: 8px;
	}

	a:hover {
		background-color: unset;
		text-decoration: underline;
	}
}

.menu_main {
	display: flex;
	flex-direction: column;
	background-color: variables.$white-a50;
	border-radius: 8px;
	max-height: calc(100vh - variables.$navbar-height - 16px);

	h2 {
		font-weight: 600;
		margin: 12px 16px;
	}

	.both_sides {
		display: flex;
		flex-direction: row;
		overflow-y: auto;
		visibility: hidden;

		hr {
			display: block;
			margin: 8px 0px;
			height: 1px;
			min-height: 1px;
			border: none;
			background-color: variables.$black-a20;
		}
	}

	.left_side,
	.right_side,
	.both_sides:hover {
		visibility: visible;
	}

	.left_side {
		display: flex;
		flex-direction: column;
		background-color: variables.$white;
		padding: 16px;
		margin: 0 16px;
		margin-bottom: 8px;
		border-radius: 8px;
		box-shadow: 0 1px 2px 0 variables.$black-a20;
		max-width: 360px;
		height: fit-content;

		a {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
		}

		img {
			margin-right: 12px;
			width: 36px;
			height: 36px;
		}

		h3 {
			font-weight: 600;
			margin: 8px 0;
		}

		h4 {
			margin-bottom: 4px;
		}

		h5 {
			color: variables.$black-a60;
			line-height: 1rem;
		}

		.social,
		.entertainment,
		.shopping,
		.personal {
			margin-bottom: 8px;
		}
	}

	.right_side {
		position: sticky;
		top: 0;
		display: flex;
		flex-direction: column;
		height: fit-content;
		background-color: variables.$white;
		max-width: 200px;
		padding: 8px;
		margin-bottom: 16px;
		margin-right: 2px;
		border-radius: 8px;
		box-shadow: 0 1px 2px 0 variables.$black-a20;

		h3 {
			font-weight: 600;
			margin: 8px;
			margin-bottom: 16px;
		}
	}

	.icon {
		padding: 8px;
		margin-right: 12px;
		background-color: variables.$black-a10;
		border-radius: 50%;

		span {
			width: 20px;
			height: 20px;
			display: block;
			background-size: auto;
			background-repeat: no-repeat;
		}
	}

	.post_link {
		span {
			background-image: url('../../public/multi_icons/icons_6.png');
			background-position: -84px -67px;
		}
	}

	.story_link {
		span {
			background-image: url('../../public/multi_icons/icons_7.png');
			background-position: 0px -824px;
		}
	}

	.life_event_link {
		span {
			background-image: url('../../public/multi_icons/icons_7.png');
			background-position: 0px -635px;
		}
	}

	.group_link {
		span {
			background-image: url('../../public/multi_icons/icons_8.png');
			background-position: 0px -150px;
		}
	}

	.page_link {
		span {
			background-image: url('../../public/multi_icons/icons_8.png');
			background-position: 0px -171px;
		}
	}

	.ad_link {
		span {
			background-image: url('../../public/multi_icons/icons_9.png');
			background-position: 0px -384px;
		}
	}

	.event_link {
		span {
			background-image: url('../../public/multi_icons/icons_8.png');
			background-position: 0px -213px;
		}
	}

	.marketplace_link {
		span {
			background-image: url('../../public/multi_icons/icons_8.png');
			background-position: 0px -738px;
		}
	}

	.fundraiser_link {
		span {
			background-image: url('../../public/multi_icons/icons_7.png');
			background-position: 0px -551px;
		}
	}
}
