@use '../styles/variables';

.center {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: variables.$white;
	display: flex;
	flex-direction: row;
	justify-content: center;

	ul {
		height: variables.$navbar-height;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 40%;

		li {
			width: 100%;
		}

		a {
			position: relative;
			display: block;
			padding: 10px 0;
			margin: 0 8px;
			border-radius: 8px;
			cursor: pointer;
			width: 1fr;
			max-width: 120px;

			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 48px;
				height: 4px;
				background-color: transparent;
				margin: 0 4px;
			}

			&:hover {
				background-color: variables.$black-a05;
			}

			svg {
				margin: auto;
			}

			.svg1 {
				display: block;
				fill: variables.$black-a60;
			}

			.svg2 {
				display: none;
				fill: variables.$blue;
			}

			&.isActive {
				.svg1 {
					display: none;
				}

				.svg2 {
					display: block;
				}

				&:after {
					height: 0;
					border-bottom: 4px solid variables.$blue;
				}

				&:hover {
					background-color: unset;
				}
			}
		}
	}

	@media only screen and (max-width: 760px) {
		display: none;
	}
}
