@use '../styles/variables';

.people_list {
	flex: 2.5;
	margin: 24px;
	margin-top: 4px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	background-color: variables.$white;

	h4 {
		font-weight: 600;
	}

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
}
