@use '../styles/variables';

.person {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	width: 250px;
	margin: 8px;
	background-color: variables.$white-a50;
	box-shadow: 0 1px 2px 0 variables.$black-a20;

	.pic_link {
		height: fit-content;

		img {
			width: 100%;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
	}

	h4 {
		margin: 16px;
		overflow: hidden;
		white-space: nowrap;
	}

	.controls {
		padding: 16px;

		.sent:hover span,
		.received:hover span {
			display: none;
		}

		.sent:hover {
			background-color: variables.$black-a20 !important;
		}

		.sent:hover:after {
			content: 'Cancel Request';
		}

		.received:hover {
			background-color: variables.$black-a20 !important;
		}

		.received:hover:after {
			content: 'Cancel Request';
		}

		button {
			width: 100%;
		}
	}
}

.person:hover {
	filter: brightness(95%);
}
