@use '../styles/variables';

.person {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 8px;
	width: 250px;
	height: 380px;
	margin: 8px;
	background-color: variables.$white-a50;
	box-shadow: 0 1px 2px 0 variables.$black-a20;
	font-weight: 600;

	.pic_link {
		width: 250px;
		height: 250px;

		img {
			width: 100%;
			height: 100%;
			border-top-left-radius: 8px;
			border-top-right-radius: 8px;
		}
	}

	h4 {
		line-height: 1.3rem;
		margin: 8px 16px;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.controls {
		margin: 16px;

		.blocked:after {
			content: 'Blocked User';
		}

		.blocked:hover {
			background-color: variables.$black-a20 !important;
			color: variables.$black-a40;
		}

		.blocked:hover:after {
			content: 'Unblock User';
		}

		.blocked_by:after {
			content: 'Blocked by User';
		}

		.friend:after {
			content: 'Friend';
		}

		.friend:hover {
			background-color: variables.$blue-a30 !important;
			color: variables.$blue;
		}

		.friend:hover:after {
			content: 'Remove Friend';
		}

		.sent:after {
			content: 'Request Sent';
		}

		.sent:hover:after {
			content: 'Cancel Request';
		}

		button {
			width: 100%;
		}
	}
}

@media only screen and (max-width: 1000px) {
	.person {
		width: 150px;
		height: 280px;

		.pic_link {
			width: 150px;
			height: 150px;
		}

		.controls {
			.blocked:after {
				content: 'Blocked';
			}

			.blocked:hover:after {
				content: 'Unblock';
			}

			.blocked_by:after {
				content: 'Blocked';
			}

			.friend:after {
				content: 'Friend';
			}

			.friend:hover:after {
				content: 'Remove';
			}

			.sent:after {
				content: 'Sent';
			}

			.sent:hover:after {
				content: 'Cancel';
			}
		}
	}
}
