@use './variables';

.post {
	margin-bottom: 24px;
	padding: 8px 16px;
	border-radius: 8px;
	background-color: variables.$white;
	box-shadow: 0 1px 2px 0 variables.$black-a20;

	img:hover {
		filter: brightness(95%);
	}
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 8px;
	margin-bottom: 16px;

	.left {
		display: flex;
		flex-direction: row;

		img {
			width: 40px;
			height: 40px;
		}

		.metadata {
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			a:hover {
				h4 {
					text-decoration: underline 2px;
				}
			}

			h4 {
				font-weight: 600;
			}

			h5 {
				color: variables.$black-a60;
			}
		}
	}

	.right {
		position: relative;
	}
}

.options_toggle {
	position: relative;
	display: block;
	height: fit-content;
	padding: 4px;
	border-radius: 50%;
	cursor: pointer;

	svg {
		display: block;
		width: 20px;
		height: 20px;
		fill: variables.$black-a60;
	}
}

.options_toggle:hover {
	background-color: variables.$black-a05;
}

.options_menu {
	position: absolute;
	top: 40px;
	right: 0;
	padding: 8px;
	width: 260px;
	border-radius: 8px;
	background-color: variables.$white;
	box-shadow: 0 4px 16px 0 variables.$black-a20;
	z-index: 5;

	.edit_btn,
	.delete_btn {
		padding: 8px;
		border-radius: 8px;
		cursor: pointer;
	}

	.edit_btn:hover,
	.delete_btn:hover {
		background-color: variables.$black-a05;
	}
}

.bottom {
	margin-top: 16px;
	margin-bottom: 8px;

	.likes_and_count {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		height: 16px;
		margin-bottom: 8px;

		.liked {
			span {
				width: 16px;
				height: 16px;
				display: block;
				background-size: auto;
				background-repeat: no-repeat;
				background-image: url('../../public/single_icons/like_icon.png');
				filter: opacity(80%);
			}
		}

		.liked:hover {
			cursor: pointer;
		}

		.comment_count {
			float: right;
			width: fit-content;
			text-align: right;
			color: variables.$black-a60;
			cursor: pointer;
			margin-left: auto;
		}

		.comment_count:hover {
			text-decoration: underline;
		}
	}

	.controls {
		clear: right;
		font-weight: 600;
		display: flex;
		flex-direction: row;
		color: variables.$black-a40;
		border-top: 1px solid variables.$black-a20;
		border-bottom: 1px solid variables.$black-a20;

		.like_btn,
		.comment_btn {
			flex: 1;
			margin: 4px;
			padding: 8px 0;
			border-radius: 4px;
			text-align: center;
			background-color: variables.$white;
			cursor: pointer;
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

		.like_btn:hover,
		.comment_btn:hover {
			filter: brightness(95%);
		}

		.icon {
			width: fit-content;
			border-radius: 50%;
			margin-right: 4px;

			span {
				width: 18px;
				height: 18px;
				display: block;
				background-size: auto;
				background-repeat: no-repeat;
				background-image: url('../../public/multi_icons/icons_10.png');
				background-position: 0px -247px;
			}
		}

		.liked {
			background-color: variables.$blue-a30;

			span {
				background-image: url('../../public/multi_icons/icons_10.png');
				background-position: 0px -228px;
			}
		}

		.comment_btn {
			div {
				span {
					background-image: url('../../public/multi_icons/icons_10.png');
					background-position: 0px -209px;
				}
			}
		}
	}
}

.comments_container {
	display: flex;
	flex-direction: column;
}

.new_comment {
	display: flex;
	flex-direction: row;

	form {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		flex: 1;

		textarea {
			flex: 1;
			border: none;
			resize: none;
			padding: 8px 12px;
			height: 32px;
			border-radius: 24px;
			background-color: variables.$background;
			outline: none;
		}

		button {
			margin-left: 12px;
			padding: 6px 12px;
		}
	}

	img {
		width: 32px;
		height: 32px;
	}
}
