@use './variables';

.modal_container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 10;
}

.grayout_bg {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: variables.$white-a80;
}

.new_post_container {
	display: flex;
	flex-direction: column;
	border-radius: 8px;
	background-color: variables.$white;
	box-shadow: 0 4px 12px 4px variables.$black-a20;
	width: 500px;
	max-height: 500px;
	z-index: 10;
}

.top {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 100%;
	height: 60px;
	border-bottom: 1px solid variables.$black-a20;
	font-weight: 600;
}

.close_btn {
	position: absolute;
	right: 12px;
	padding: 8px;
	background-color: variables.$black-a10;
	border-radius: 50%;
	cursor: pointer;

	span {
		width: 20px;
		height: 20px;
		display: block;
		background-size: auto;
		background-repeat: no-repeat;
		background-image: url('../../public/multi_icons/icons_6.png');
		background-position: -105px -67px;
	}
}

.close_btn:hover {
	background-color: variables.$black-a20;
}

.metadata {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 12px;

	a {
		border-radius: 50%;
		margin-right: 12px;
	}

	img {
		width: 40px;
		height: 40px;
	}
}

.post_form {
	padding: 12px;

	textarea {
		width: 100%;
		resize: none;
		font-size: 1rem;
		border: none;
	}

	textarea:focus {
		outline: 1px solid variables.$blue;
	}

	button {
		margin-top: 12px;
		width: 100%;
	}
}
