@use './variables';

.profile_page_posts {
	display: flex;
	flex-direction: row;
	align-self: center;
	max-width: 1200px;
	width: 100%;

	.bio {
		flex: 1;
		height: fit-content;
		margin: 16px;
		border-radius: 8px;
		background-color: variables.$white;
		box-shadow: 0 1px 2px 0 variables.$black-a20;

		h3 {
			margin: 12px;
			font-weight: 600;
		}

		p {
			margin: 12px;
		}
	}

	.profile_posts {
		flex: 3;
		max-width: 800px;
		margin: 16px;

		.empty {
			margin: 12px;
			font-weight: 600;
			color: variables.$black-a60;
			text-align: center;
		}
	}

	@media only screen and (max-width: 900px) {
		flex-direction: column;

		.bio,
		.profile_posts {
			max-width: unset;
			flex: 1;
		}
	}
}
