@use '../styles/variables';

.profile_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: variables.$white;
	box-shadow: 0 0 4px 1px variables.$black-a10;

	.profile_page_main {
		width: 100%;
		max-width: 1200px;
		font-weight: 600;
	}
}

.top {
	display: flex;
	flex-direction: column;

	.shade {
		height: 120px;
		border-bottom-left-radius: 8px;
		border-bottom-right-radius: 8px;
		background-image: linear-gradient(
			to top,
			variables.$blue,
			variables.$blue-a30
		);
	}

	.user_panel {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		border: 4px solid variables.$white;
		margin: 12px;
		position: relative;

		.left {
			display: flex;
			flex-direction: row;

			.pic_wrapper {
				width: 160px;
				margin-right: 24px;
				position: relative;
				top: 8px;

				.delete_btn {
					position: absolute;
					left: 20px;
					bottom: 0;
					padding: 8px;
					background-color: variables.$red;
					border-radius: 50%;
					cursor: pointer;

					span {
						width: 8px;
						height: 8px;
						display: block;
						background-size: auto;
						background-repeat: no-repeat;
						background-image: url('../../public/multi_icons/icons_6.png');
						background-position: -111px -73px;
					}
				}

				.delete_btn:hover {
					filter: brightness(125%);
					box-shadow: 0 0 4px 1px variables.$black;
				}
			}

			img {
				box-sizing: content-box;
				border: 4px solid variables.$white;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 160px;
				height: 160px;
				cursor: initial;
			}
		}

		.right {
			display: flex;
			flex-direction: row;

			.profile_controls {
				display: flex;
				flex-direction: row;

				.change_password_btn,
				.edit_btn {
					margin-left: 8px;
				}
			}

			.change_password_form {
				display: flex;
				flex-direction: row;
				align-items: center;

				input {
					height: 100%;
					border-radius: 8px;
					border: 1px solid variables.$black-a20;
					padding: 0 4px;
					font-size: 0.9rem;
				}

				input:focus {
					outline: 1px solid variables.$blue;
				}

				button {
					margin-left: 12px;
					padding: 6px 12px;
				}
			}
		}
	}
}

.bottom {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	.pages {
		display: flex;
		flex-direction: row;
		margin: 0 16px;

		a {
			color: variables.$black-a60;
			position: relative;
			display: block;
			padding: 20px;
			border-radius: 8px;
			cursor: pointer;
		}

		a:hover {
			background-color: variables.$black-a05;
		}

		a:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 52px;
			height: 4px;
			background-color: transparent;
		}

		a.isActive:after {
			height: 0;
			border-bottom: 4px solid variables.$blue;
		}

		a.isActive:hover {
			background-color: unset;
		}
	}

	.user_controls {
		display: flex;
		flex-direction: row;
		align-items: center;
		margin: 0 12px;
		position: relative;

		button,
		span {
			margin: 4px;
		}

		.blocked:hover span,
		.friend:hover span,
		.sent:hover span {
			display: none;
		}

		.blocked:hover {
			background-color: variables.$black-a20;
			color: variables.$black-a40;
		}

		.blocked:hover:after {
			content: 'Unblock User';
		}

		.friend:hover {
			background-color: variables.$black-a60;
			color: variables.$white;
		}

		.friend:hover:after {
			content: 'Remove Friend';
		}

		.sent:hover:after {
			content: 'Cancel Request';
		}
	}

	.options_toggle {
		position: relative;
		display: block;
		height: fit-content;
		padding: 8px;
		border-radius: 50%;
		background-color: variables.$black-a10;
		cursor: pointer;

		svg {
			display: block;
			width: 16px;
			height: 16px;
			fill: variables.$black-a60;
		}
	}

	.options_toggle:hover {
		background-color: variables.$black-a20;
	}

	.options_menu {
		position: absolute;
		top: 40px;
		right: 0;
		padding: 8px;
		width: 260px;
		border-radius: 8px;
		background-color: variables.$white;
		box-shadow: 0 4px 16px 0 variables.$black-a20;
		z-index: 5;

		.cancel_btn,
		.block_btn {
			padding: 8px;
			border-radius: 8px;
			cursor: pointer;
		}

		.cancel_btn:hover,
		.block_btn:hover {
			background-color: variables.$black-a05;
		}
	}
}
