@use '../styles/variables';

.profile_page {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: variables.$white;
	box-shadow: 0 0 4px 1px variables.$black-a10;

	.profile_page_main {
		width: 1200px;
		font-weight: 600;

		h2 {
			text-align: center;
			margin: 16px;
		}
	}
}

.cover_photo {
	height: 400px;
	min-width: 1200px;
	max-width: 1200px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	background-color: variables.$black-a10;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	position: relative;

	> div {
		position: absolute;
		bottom: -8px;
		border: 4px solid variables.$white;
		border-radius: 50%;

		img {
			width: 160px;
			height: 160px;
		}
	}
}

.controls {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1200px;

	.left {
		display: flex;
		flex-direction: row;
		margin: 0 16px;

		a {
			color: variables.$black-a60;
			position: relative;
			display: block;
			padding: 20px;
			border-radius: 8px;
			cursor: pointer;
		}

		a:hover {
			background-color: variables.$black-a05;
		}

		a:after {
			content: '';
			position: absolute;
			left: 0;
			right: 0;
			top: 52px;
			height: 4px;
			background-color: transparent;
		}

		a.isActive:after {
			height: 0;
			border-bottom: 4px solid variables.$blue;
		}

		a.isActive:hover {
			background-color: unset;
		}
	}

	.right {
		display: flex;
		flex-direction: row;
		margin: 0 12px;

		> div {
			margin: 4px;
		}
	}
}
