@use '../styles/variables';

.side_menu {
	flex: 1;
	padding: 8px;
	margin: 8px 0;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	position: sticky;
	top: calc(variables.$navbar-height + 8px);
	height: calc(100vh - (variables.$navbar-height + 16px));
	overflow-y: auto;

	ul {
		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 8px;
			border-radius: 8px;
			cursor: pointer;

			&:hover {
				background-color: variables.$black-a05;
			}

			.icon {
				img {
					margin-right: 12px;
					width: 36px;
					height: 36px;
				}
			}
		}
	}

	@media only screen and (max-width: 1024px) {
		display: none;
	}
}
