@use '../styles/variables';

.side_menu {
	flex: 1;
	padding: 8px;
	margin-top: 8px;
	max-width: 360px;
	display: flex;
	flex-direction: column;
	height: fit-content;
	position: sticky;
	top: calc(variables.$navbar-height + 8px);

	ul {
		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			padding: 8px;
			border-radius: 8px;
			cursor: pointer;

			img {
				margin-right: 12px;
				width: 36px;
				height: 36px;
			}
		}

		a:hover {
			background-color: variables.$black-a05;
		}
	}
}

@media only screen and (max-width: 1024px) {
	.side_menu {
		display: none;
	}
}
