@use './styles/variables';

* {
	box-sizing: border-box;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
	font-size: 16px;
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 2rem;
}

h3 {
	font-size: 1.25rem;
}

h4 {
	font-size: 1rem;
}

h5 {
	font-size: 0.8rem;
}

h6 {
	font-size: 0.6rem;
}

p {
	font-size: 0.9rem;
}

a {
	color: variables.$black;
	text-decoration: none;
}

img {
	display: block;
}

hr {
	height: 1px;
	border: none;
	background-color: variables.$black-a20;
}

.main {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: variables.$background;
}

.welcome-page-container {
	flex: 1;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;

	h1 {
		font-weight: 600;
		color: variables.$blue;
		user-select: none;
	}

	.left {
		flex: 1;
		width: 560px;
		margin-right: 40px;
	}

	.right {
		flex: 1;
	}
}

.home-container {
	flex: 1;
	display: flex;
	flex-direction: row;
}

.profile-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.footer {
	width: 100%;
	text-align: center;
}

.btn-default {
	border-radius: 8px;
	border: none;
	padding: 8px 12px;
	font-weight: 600;
	user-select: none;
	cursor: pointer;
}

.btn-default:hover {
	filter: brightness(95%);
}

.btn-remove {
	background-color: variables.$black-a10;
	color: variables.$black;
}

.btn-remove:hover {
	background-color: variables.$black-a20;
}

.btn-confirm {
	background-color: variables.$blue;
	color: variables.$white;
}

.btn-cancel {
	background-color: variables.$white;
	color: variables.$black;
}

.btn-active {
	background-color: variables.$blue-a30 !important;
	color: variables.$blue;
	fill: variables.$blue;
}

.btn-active:hover {
	filter: brightness(90%);
}

.btn-form-submit {
	color: variables.$white;
	background-color: variables.$blue;
}

:disabled,
.btn-disabled {
	background-color: variables.$black-a10;
	color: variables.$black-a20;
}

.btn-register {
	background-color: variables.$green;
	color: variables.$white;
	font-size: 1.1rem;
}

.btn-w180 {
	width: 180px;
	text-align: center;
}

.profile-pic-style {
	cursor: pointer;
	width: fit-content;
	height: fit-content;
	margin-right: 12px;

	img {
		border-radius: 50%;
		box-shadow: 0 0 1px 0 variables.$black;
	}
}

.error-list {
	color: variables.$red;
	text-align: left;
	line-height: 1rem;

	.error-msg {
		margin: 4px;
		padding-left: 4px;
		border-left: 2px solid variables.$red;
	}
}
