@use '../variables';

.menu_messenger {
	display: flex;
	flex-direction: column;
	max-width: 360px;

	hr {
		width: 100%;
	}

	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 8px;
		padding: 8px;
		font-weight: 600;

		.mark_all {
			color: variables.$blue;
			cursor: pointer;
		}

		.mark_all:hover {
			text-decoration: underline;
		}
	}

	.search_messenger {
		margin: 8px 16px;

		svg {
			display: block;
			fill: variables.$black-a60;
		}

		label {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 40px;
			padding: 0 12px;
			background-color: variables.$white-a80;
			border-radius: 24px;
		}

		input {
			width: 100%;
			height: 100%;
			padding: 8px;
			border: none;
			background-color: transparent;
			color: variables.$black-a60;
			font-size: 0.9rem;
		}

		.clear_btn {
			padding: 8px;
			background-color: variables.$black-a10;
			border-radius: 50%;
			cursor: pointer;

			span {
				width: 12px;
				height: 12px;
				display: block;
				background-size: auto;
				background-repeat: no-repeat;
				background-image: url('../../../public/multi_icons/icons_6.png');
				background-position: -109px -71px;
			}
		}

		.clear_btn:hover {
			background-color: variables.$black-a20;
		}
	}

	.message_list_container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 60px;
		margin: 0 8px;

		.empty {
			margin: 8px 0;
			font-weight: 600;
			color: variables.$black-a60;
			text-align: center;
		}

		.message_list {
			width: 100%;
			max-height: 50vh;
			overflow-y: auto;
			scrollbar-width: thin;
			scrollbar-color: variables.$black-a20 variables.$black-a10;
		}
	}

	a {
		align-self: center;
		font-weight: 600;
		color: variables.$blue;
		margin: 8px;
		margin-bottom: 16px;
	}

	a:hover {
		background-color: unset !important;
		text-decoration: underline;
	}
}
