@use '../variables';

.menu_messenger {
	display: flex;
	flex-direction: column;

	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		padding: 8px;
		margin: 8px;
		font-weight: 600;
	}

	.options_toggle {
		position: relative;
		display: block;
		height: fit-content;
		padding: 4px;
		border-radius: 50%;
		cursor: pointer;

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: variables.$black-a60;
		}
	}

	.options_toggle:hover {
		background-color: variables.$black-a05;
	}

	.search_messenger {
		margin: 0 16px;
		margin-bottom: 8px;

		svg {
			display: block;
			fill: variables.$black-a60;
		}

		label {
			display: flex;
			flex-direction: row;
			align-items: center;
			height: 40px;
			padding: 0 12px;
			background-color: variables.$white-a80;
			border-radius: 24px;
		}

		input {
			width: 100%;
			height: 100%;
			padding: 8px;
			border: none;
			outline: none;
			background-color: transparent;
			color: variables.$black-a60;
			font-size: 0.9rem;
		}
	}

	.clear_btn {
		padding: 8px;
		background-color: variables.$black-a10;
		border-radius: 50%;
		cursor: pointer;

		span {
			width: 12px;
			height: 12px;
			display: block;
			background-size: auto;
			background-repeat: no-repeat;
			background-image: url('../../../public/multi_icons/icons_6.png');
			background-position: -109px -71px;
		}
	}

	.clear_btn:hover {
		background-color: variables.$black-a20;
	}

	.message_list {
		li {
			padding: 4px;
			margin: 8px 0;
		}
	}

	hr {
		width: 100%;
	}

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 600;
		color: variables.$blue;
		text-align: center;
		margin: 8px;
	}

	a:hover {
		background-color: unset;
		text-decoration: underline;
	}
}
