@use '../variables';

.menu_notifications {
	display: flex;
	flex-direction: column;
	padding: 8px;

	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 8px;
		font-weight: 600;
	}

	.options_toggle {
		position: relative;
		display: block;
		height: fit-content;
		padding: 4px;
		border-radius: 50%;
		cursor: pointer;

		svg {
			display: block;
			width: 20px;
			height: 20px;
			fill: variables.$black-a60;
		}
	}

	.options_toggle:hover {
		background-color: variables.$black-a05;
	}

	.controls {
		display: flex;
		flex-direction: row;
		margin: 8px;

		> div {
			background-color: variables.$black-a10;
			font-size: 0.9rem;
			border-radius: 24px;
			margin-right: 8px;
			padding: 12px;
		}

		> div:hover {
			background-color: variables.$black-a20;
		}
	}

	.notification_list {
		margin: 8px;

		.empty {
			margin: 8px 0;
			font-weight: 600;
			color: variables.$black-a60;
			text-align: center;
		}

		li {
			padding: 8px;
			margin: 8px 0;
			width: fit-content;

			img {
				width: 48px;
				height: 48px;
			}

			a:hover {
				background-color: unset;
			}
		}
	}
}
