@use '../variables';

.menu_notifications {
	display: flex;
	flex-direction: column;

	.top {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin: 0 8px;
		padding: 8px;
		font-weight: 600;
	}

	.notification_list {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 100px;

		.empty {
			margin: 8px 0;
			font-weight: 600;
			color: variables.$black-a60;
			text-align: center;
		}

		li {
			margin: 8px;

			img {
				width: 48px;
				height: 48px;
			}

			a:hover {
				background-color: unset;
			}
		}
	}
}
